{% extends 'base.html.twig' %}

{% block title %}Registration - Exchange Rate Notification Service{% endblock %}

{% block body %}
<div>
    <h1>You're been successfuly registered in Exchange Rate Notification Service.</h1>
</div>
{% endblock %}
