{% extends 'base.html.twig' %}

{% block title %}Subscription - Exchange Rate Notification Service!{% endblock %}

{% block body %}
<div>
    <h1>You're been successfuly removed from subscription list.</h1>
    
    <p>We'll be miss you...</p>
</div>
{% endblock %}
