<div>
    <h1>Welcome {{ client.getFullName() }}.</h1>
    <h2>You receive this email because you are sign in to the currency rates exchange service subscription.</h2>

    <p>Here are you currency rate change list for {{ date|date }}</p>

    <ul>
    {% for item in items %}
        <li>
            Currency {{ item.getCurrencyName() }} has new rate {{ item.getRate() }}
            {% if item.isLow() or item.isHigh() %}
                and reach {{ item.isHigh() ? 'high' : 'low' }} level!
            {% endif %}
        </li>
    {% endfor %}
    </ul>

    <br /><br />

    <small>To unsubscribe click this <a href="{{ link }}">link</a></small>
</div>